.number {
  background-size: cover;
  background-color: grey;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  border: 2px solid darkgrey;
  height: 30px;
  width: 30px;
}

img {
  width: 20px;
  height: 15px;
  margin: 5px;
}