.number {
  background-size: cover;
  background-color: grey;
  text-align: center;
  line-height: 30px;
  font-size: 20px;
  border: 2px solid darkgrey;
  height: 30px;
  width: 30px;
}

img {
  width: 20px;
  height: 15px;
  margin: 5px;
}

.mat-chip-list {
  margin-right: 5px;
}

.mat-chip {
  font-size: 23px;
}

.menu-item {
  text-align: right;
  font-size: 20px;
  .mat-icon {
    padding-bottom: 5px;
  }
}

.mat-icon {
  padding-bottom: 2px;
  vertical-align: middle;
}